<app-title [title]="'Eventos'"></app-title>
<hr>
<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro: </label>
    <input
    type="text"
    class="form-control mr-2"
    placeholder="buscar"
    [(ngModel)]="filterList"
    >
  </div>
</div>
<!-- <h3>Filtro: {{filterList}}</h3> -->
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button type="button"
        class="btn btn-outline-light btn-sm"
        (click)="changeIsImageCollapsedEvent()" >
        <i class="{{isImageCollapsed ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          {{isImageCollapsed ? 'Mostrar' : 'Ocultar'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <!-- *ngs são diretivas estruturais -->
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of filteredEventos">
      <td>
        <img [collapse]="isImageCollapsed"
          [isAnimated]="true"
          src="/assets/{{evento.imageUrl}}"
          [style.width.px]="widthImg"
          [style.margin.px]="marginImg"
        >
      </td>
      <td>{{evento.id}}</td>
      <td>{{evento.theme}}</td>
      <td>{{evento.location}}</td>
      <td>{{evento.eventDate | DateFormatPipe}}</td>
      <td>{{evento.capacity}}</td>
      <!-- <td>{{evento.batches[0].name}}</td> -->
      <td>[Placeholder]</td>

      <!-- <td *ngFor="let batch of evento.batches">
        {{batch.name}}
      </td> -->
      <td>
        <button type="button" class="btn btn-primary btn-sm mr-2" data-bs-toggle="tooltip" title="Editar">
          <i class="fa fa-edit"></i>
        </button>
        <button type="button" (click)="openModal(template)" class="btn btn-danger btn-sm" data-bs-toggle="tooltip" title="Excluir">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
   <tfoot *ngIf="filteredEventos.length <= 0">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
   </tfoot>
</table>

<!-- {{eventos | json}} -->

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer apagar esse Evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
